.feature-card {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding: 40px;
  background: #ffffff;
  color: #0a0a0a;
  transition: all 0.4s ease-in-out; /* smooth transition */
  
}

.inactive {
  background: #ffffff;
  color: #0a0a0a;
  margin-top: 40px;
  padding: 40px;
}

.active {
  background: #0d1b2a !important;  /* force dark bg */
  color: #ffffff !important;       /* force white text */
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  padding:  40px;
border-radius: 40px;

}
.active {
  p,
  h6 {
    color: #fff !important;
  }
}
.yell{
    background-color: #FCFFF8;
    padding: 40px 20px;
    border-radius: 20px;
   height: 450px;
   margin-bottom: 100px;
}
/* icon color change (blue → white on active) */
.featureIcon {
  transition: filter 0.3s ease-in-out;
  margin-bottom: 10px;
}

.active .featureIcon {
  filter: brightness(0) invert(1); /* active hone par white */
}
